fp-info-cache
rrf_accel.kicad_sch-bak
rrf_accel.sch-bak
rrf_accel.kicad_pcb-bak
rrf_accel-backups
_autosave-rrf_accel.sch
rrf_accel.bak
rrf_accel.bck
production
production.zip
_autosave-*
*auto_saved_files*

