fp-info-cache
stlink_adapter.kicad_sch-bak
stlink_adapter.sch-bak
stlink_adapter.kicad_pcb-bak
stlink_adapter-backups
_autosave-stlink_adapter.sch
stlink_adapter.bak
stlink_adapter.bck
production
production.zip
_autosave-*
*auto_saved_files*

